.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

@media (max-width: 768px) {
    .navbar-nav {
        display: none;
        /* Hide the links by default */
    }
}